{% extends "sistema/base.html" %}
{% block subtitle %}Landing{% endblock %}
{% block user %} {{request.session.nombre}}{% endblock %}
{% block name %} {{request.session.nombre}}{% endblock %}
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-right:40px">
  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:30px">
    <h1  class="w3-xxxlarge w3-text-black"><b>Bienvenido al sistema de evaluación</b></h1>
    <hr style="width:50px;border:5px solid #2FA0FB" class="w3-round">
    <p><h3>Seleccione alguna sección para comenzar</h3></p>
     <i class="fas fa-arrow-left" style="font-size:300%"></i>
  </div>
</div>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
{% endblock %}
