{% extends "sistema/base.html" %}
{% block subtitle %}Landing{% endblock %}
{% block user %} {{request.session.nombre}}{% endblock %}
{% block name %} {{request.session.nombre}}{% endblock %}
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-right:40px">
  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:30px">
    <h1  class="w3-xxxlarge w3-text-black"><b>Bienvenido al sistema de evaluación</b></h1>
    <hr style="width:50px;border:5px solid #2FA0FB" class="w3-round">
    <p><h3>Seleccione alguna sección para comenzar</h3></p>
     <i class="far fa-arrow-alt-circle-left" style="font-size:300%"></i>
  </div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-16" style="margin-top:50px;padding-right:58px">
  <div class="bottom" id="contact" style="margin-top:50px">
    <h1 class="w3-xxlarge w3-text-black"><b>Contacto.</b></h1>
    <hr style="width:50px;border:5px solid #2FA0FB" class="w3-round">
    <p>¿Dudas? ¿Sugerencias? ¿Reclamos?</p>
      <p>No dude en contactarnos</p>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Nombre</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Mensaje</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-blue w3-margin-bottom">Enviar</button>
    </form>
  </div>
</div>
    <p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p>
</div>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
{% endblock %}
