{% extends "sistema/base.html" %}

{% block subtitle %}Rúbricas{% endblock %}

{% block content %}
<style>
  .button2 {
    background-color: #c6bdbb; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.2px 2px;
    cursor: pointer;
  }

  .button2 {width: 50%; border-radius: 12px;}
  .button2.button2:hover {background-color: #FFA07A;}
</style>

<!-- Portada -->
<div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Editar rúbrica</b></h1>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <p><h3>{{ rubrica.nombre }} <button class="w3-button w3-medium w3-transparent w3-display"><i class="fas fa-edit"></i></h3></button><br></p>
</div>

<div>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
    margin: 10px 0.5% 0.5%;
  }

  td, th {
    border: 1px solid #665f5f;
    text-align: left;
    width: 20%;
    padding: 2.3%;
  }

  tr:nth-child(even) {
    background-color: #FFA07A;
  }
</style>
  <table>
    <tr>
      <th></th>
      <th>Asignar puntajes    <i class="fas fa-edit"></i></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><b>Modificar aspecto  <i class="fas fa-edit"></i></b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div>
      <style>
        .btn-group .button {
          background-color: #c6bdbb;
          border: none;
          color: black;
          padding: 15px 4.6%;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          float: left;
          margin: 18px 2%;
        }

        .btn-group .button { border-radius: 12px;}

        .btn-group .button:hover { background-color: #FFA07A; }

      </style>
      <button class="w3-btn w3-red w3-large w3-margin-top">Agregar criterio <i class="fas fa-plus"></i></button>
      <button class="w3-btn w3-red w3-large w3-margin-top">Agregar nivel <i class="fas fa-plus"></i></button>
      <button class="w3-btn w3-red w3-large w3-right w3-margin-top">Guardar rúbrica <i class="far fa-save"></i></button>
      <!--
      <div class="btn-group">
        <button class="button">Agregar fila  <i class="fas fa-plus"></i></button>
        <button class="button">Agregar columna  <i class="fas fa-plus"></i></button>
        <button class="button">Borrar fila  <i class="fas fa-trash"></i></button>
        <button class="button">Borrar columna  <i class="fas fa-trash"></i></button>
      </div>
      -->
</div>

{% endblock %}