{% extends "sistema/base.html" %}

{% block subtitle %}Rúbricas{% endblock %}
{% block user %} {{request.session.nombre}}{% endblock %}
{% block content %}

<!-- Portada -->
<div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
  <h1 class="w3-xxxlarge w3-text-black"><b>Ficha de rúbrica</b></h1>
  <hr style="width:50px;border:5px solid #2FA0FB" class="w3-round">
  <p><h3>{{ rubrica.nombre }}</h3></p>
</div>

<div>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin: 20px 0.5% 0.5%;
      font-size: 15px;
    }

    td {
      border: 1px solid #665f5f;
      text-align: left;
      width: 12%;
      padding: 1%;
    }

    th {
      border: 1px solid #665f5f;
      text-align: right;
      width: 12%;
      padding: 1%;
    }

    tr:nth-child(even) {
      background-color: #9CA5AB;
    }

  </style>
  <table>
    <tr>
      {% for celda in rubrica.tabla.0 %}
        <th>{{ celda }}</th>
      {% endfor %}
    </tr>
    {% for fila in rubrica.tabla %}
    {% if not forloop.first %}
    <tr>
      {% for celda in fila %}
      <td>{% if forloop.first %}<b>{% endif %}{{ celda }}{% if forloop.first %}</b>{% endif %}</td>
      {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>

<div>
  {% if not rubrica.validar %}<p>La rúbrica no tiene el puntaje máximo adecuado (6 puntos).</p>{% endif %}
  {% if request.session.es_admin %}
  <a href="{% url 'sistema:rubrica_editar' rubrica_id=rubrica.id %}">
    <button class="w3-btn w3-blue w3-large w3-margin-top" style="margin-bottom: 64px">Editar <i class="fas fa-edit"></i></button>
  </a>
  {% endif %}
  <a href="{% url 'sistema:index_rubricas' %}">
    <button class="w3-btn w3-right w3-blue w3-large w3-margin-top" style="margin-bottom: 64px">Volver <i class="fas fa-arrow-left"></i></button>
  </a>

</div>

{% endblock %}