{% extends "sistema/base.html" %}

{% block subtitle %}Rúbricas{% endblock %}

{% block content %}

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Rúbricas</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

<div class="w3-container">
  <button onclick="document.getElementById('agregar').style.display='block'" class="w3-button w3-large w3-red w3-right w3-round">Agregar nueva rúbrica</button><br>
</div>
<!--Seccion rubricas-->

{% for rubrica in lista_rubricas %}
<button onclick="myFunction('Demo{{ forloop.counter }}')" class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
  <h3>{{ rubrica.nombre }}</h3></button>

<div id="Demo{{ forloop.counter }}" class="w3-hide w3-container w3-pale-red w3-center w3-padding-large w3-margin"style="width: 75%">
  <p>
    {% for aspecto in rubrica.aspectos %}
    <li>{{ aspecto }}</li>
    {% endfor %}
  </p>
  <div class="w3-container">
    <a href="{% url 'sistema:rubrica' rubrica_id=rubrica.id %}">
      <button class="w3-button w3-large w3-margin-right w3-red w3-left w3-round">Ver</button>
    </a>
    <a href="{% url 'sistema:rubrica_editar' rubrica_id=rubrica.id %}">
      <button class="w3-button w3-large w3-red w3-left w3-round">Modificar</button>
    </a>
    <button onclick="eliminar({{ rubrica.id }})" class="w3-button w3-large w3-red w3-right w3-round">Eliminar</button>
  </div>
</div>
{% endfor %}

<!-- modal de agregar -->
<div id="agregar" class="w3-modal">
	<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px{% if mensaje %}; display='block'{% endif %}">
		<div class="w3-center"><br>
			<span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
			<form class="w3-container" action="{% url 'sistema:rubrica_agr' %}" method="post">
					{% csrf_token %}
			<div class="w3-section">
        <label><b>Nombre</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Ingrese nombre" name="nombre" required>
				<input class="w3-button w3-block w3-red w3-section w3-padding" type="submit" value="Agregar">
			</div>
		</form>
		</div>
	</div>
</div>

<!-- modal de eliminar -->
<div id="eliminar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <div class="w3-center"><br>
        <span onclick="document.getElementById('eliminar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        <p>¿Está seguro de querer eliminar a este usuario?</p>
        <form action="{% url 'sistema:rubrica_eli' %}" method="post">
          {% csrf_token %}
          <input id="valor_eliminar" type="hidden" name="id" value="">
          <button class="w3-button w3-red w3-margin-bottom" type="submit">Eliminar</button>
        </form>
      </div>
    </div>
  </div>

<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
	// Abre el modal de eliminar y ajusta el form con el valor correcto
	function eliminar(id) {
		document.getElementById('valor_eliminar').value = id;
		document.getElementById('eliminar').style.display='block';
	}
</script>

{% endblock %}
