{% extends "sistema/base.html" %}

{% block subtitle %}Evaluaciones{% endblock %}

{% block content %}

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluadores</b></h1>
		<hr style="width:50px;border:5px solid red" class="w3-round">
		<p><h3>Seleccione un evaluador</h3></p>
		{% if mensaje %}
			<p style="color:goldenrod"><b>{{ mensaje }}</b></p>
		{% endif %}
  </div>

<!--Cajas evaluadores-->
<div class="w3-row-padding w3-center w3-margin-top" style="margin-bottom: 64px">
	{% for evaluador in lista_evaluadores %}
	<div class="w3-col m6 l4 w3-margin-top">
		<button onclick="modificar({{ evaluador.id }}, '{{ evaluador.nombre }}', '{{ evaluador.correo }}')" class="w3-card w3-container w3-hover-shadow" style="max-height:380px;min-height: 317px; width: 230px">
		<h3>{{ evaluador.nombre }}</h3><br>
		<i class="fas fa-user-alt" style="font-size:100px"></i>
		<p>{{ evaluador.correo|truncatechars:20 }}</p>
		</button>
		<br>
		<button onclick="modificar({{ evaluador.id }}, '{{ evaluador.nombre }}', '{{ evaluador.correo }}')" class="w3-btn w3-red">Modificar</button>
		<button onclick="eliminar({{ evaluador.id }})" class="w3-btn w3-red">Eliminar</button>
	</div>
	{% endfor %}
    <!--Caja de agregar-->
	<div class="w3-col m6 l4 w3-margin-top">
		<button onclick="document.getElementById('agregar').style.display='block'" class="w3-card w3-container w3-light-gray w3-hover-shadow" style="min-height: 317px; width: 230px">
		<h3>Agregar evaluador nuevo</h3><br>
		<i class="fas fa-user-plus" style="font-size:80px;text-align: center; padding: 10px"></i>
		</button>
	</div>
<!--cierre de cajas de cursos-->
</div>

<!-- modal de agregar -->
<div id="agregar" class="w3-modal">
	<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px{% if mensaje %}; display='block'{% endif %}">
		<div class="w3-center"><br>
			<span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
			<form class="w3-container" action="{% url 'sistema:evaluador_agr' %}" method="post">
					{% csrf_token %}
			<div class="w3-section">
				<label><b>Nombre y apellido</b></label>
				<input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Ingrese nombre" name="nombre" required{% if nombre %} value="{{ nombre }}"{% endif %}>
				<label><b>Correo</b></label>
				<input class="w3-input w3-border" type="email" required placeholder="Ingrese correo" name="correo">
				<input class="w3-button w3-block w3-red w3-section w3-padding" type="submit" value="Agregar">
			</div>
		</form>
		</div>
	</div>
</div>

<!-- modal de modificar -->
<div id="modificar" class="w3-modal">
	<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px{% if mensaje %}; display='block'{% endif %}">
		<div class="w3-center"><br>
			<span onclick="document.getElementById('modificar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
			<form class="w3-container" action="{% url 'sistema:evaluador_mod' %}" method="post">
					{% csrf_token %}
			<div class="w3-section">
				<input id="mod_id" type="hidden" name="id" value="">
				<label><b>Nombre y apellido</b></label>
				<input id="mod_nombre" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Ingrese nombre" name="nombre" required>
				<label><b>Correo</b></label>
				<input id="mod_correo" class="w3-input w3-border" type="email" required placeholder="Ingrese correo" name="correo">
				<input class="w3-button w3-block w3-red w3-section w3-padding" type="submit" value="Guardar">
			</div>
		</form>
		</div>
	</div>
</div>

<!-- modal de eliminar -->
<div id="eliminar" class="w3-modal">
	<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
		<div class="w3-center"><br>
			<span onclick="document.getElementById('eliminar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
			<p>¿Está seguro de querer eliminar a este usuario?</p>
			<form action="{% url 'sistema:evaluador_eli' %}" method="post">
				{% csrf_token %}
				<input id="valor_eliminar" type="hidden" name="id" value="">
				<button class="w3-button w3-red w3-margin-bottom" type="submit">Eliminar</button>
			</form>
		</div>
	</div>
</div>

<script>
	// Abre el modal de eliminar y ajusta el form con el valor correcto
	function eliminar(id) {
		document.getElementById('valor_eliminar').value = id;
		document.getElementById('eliminar').style.display='block';
	}
	// Abre el modal de modificar y ajusta el form con los valores correctos
	function modificar(id, nombre, correo) {
		document.getElementById('mod_nombre').value = nombre;
		document.getElementById('mod_correo').value = correo;
		document.getElementById('mod_id').value = id;
		document.getElementById('modificar').style.display='block';
	}
</script>

{% endblock %}