{% extends "sistema/base.html" %}

{% load i18n %}

{% block subtitle %}Evaluaciones{% endblock %}
{% block user %} {{request.session.nombre}}{% endblock %}
{% block content %}

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Evaluaciones</b></h1>
    <hr style="width:50px;border:5px solid #2FA0FB" class="w3-round">
    {% if mensaje %}
			<p style="color:goldenrod"><b>{{ mensaje }}</b></p>
		{% endif %}
  </div>

<div class="w3-container">
  <button onclick="document.getElementById('agregar').style.display='block'" class="w3-button w3-large w3-blue w3-right w3-round">Agregar nueva evaluación</button><br>
</div>
<!--Seccion evaluaciones-->

{% for evaluacion in lista_evaluaciones %}
<button onclick="myFunction('Demo{{ forloop.counter }}')" class="w3-btn w3-dark-grey w3-block w3-margin" style="width: 75%"><h3>
    {{ evaluacion.nombre }}</h3></button>

<div id="Demo{{ forloop.counter }}" class="w3-hide w3-container w3-light-grey  w3-padding-large w3-margin"style="width: 75%">

  <p><li>Curso: {{ evaluacion.instancia }}</li>
    <!-- language hace que aparezca la fecha en español -->
    {% language 'es' %}
    <li>Fecha inicio: {{ evaluacion.fecha_inicio }}</li> 
    <li>Fecha término: {{ evaluacion.fecha_fin }}</li>
    {% endlanguage %}
    <a href="{% url 'sistema:rubrica' rubrica_id=evaluacion.evaluacionrubrica_set.all.0.rubrica.id %}"><button class="w3-button w3-white w3-border w3-border-blue w3-round-large">Rúbrica asociada</button></a>
  <button class="w3-button w3-white w3-border w3-border-blue w3-round-large">Exportar puntajes</button><br>
</p>

  <button onclick="location.href='{% url 'sistema:evaluacion' eval_id=evaluacion.id %}'" class="w3-button w3-large w3-blue w3-round">Ver</button>
  {% if not evaluacion.realizada %}<button onclick="modificar({{ evaluacion.id }}, '{{ evaluacion.nombre }}', '{{ evaluacion.fecha_inicio|date:'Y-m-d' }}', '{{ evaluacion.fecha_fin|date:'Y-m-d' }}','{{ evaluacion.tiempo_max|time:'H:i' }}','{{ evaluacion.tiempo_min|time:'H:i' }}',{{ evaluacion.evaluacionrubrica_set.all.0.rubrica.id }},{{ evaluacion.instancia.id }})" class="w3-button w3-large w3-blue w3-margin-left w3-round">Modificar</button>{% endif %}
  <button onclick="eliminar({{ evaluacion.id }})" class="w3-button w3-large w3-blue w3-right w3-round">Eliminar</button>
</div>
{% endfor %}

<div style="margin-bottom: 64px">
</div>

<!-- modal de agregar -->
<div id="agregar" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center"><br>
      <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      <form class="w3-container" action="{% url 'sistema:evaluacion_agr' %}" method="post">
        {% csrf_token %}
        <div class="w3-section">
		  <label><b>Nombre</b></label>
		  <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Ingrese nombre" name="nombre" required>
          <div class="w3-row">
            <div class="w3-half">
              <label><b>Fecha de inicio</b></label>
              <input class="w3-input w3-border w3-margin-bottom" type="date" required name="inicio">
            </div>
            <div class="w3-half">
              <label><b>Fecha de término</b></label>
              <input class="w3-input w3-border w3-margin-bottom" type="date" required name="fin">
            </div>
          </div>
           <div class="w3-section">
           <div class="w3-half">
              <label><b>Tiempo mínimo </b></label>
              <input class="w3-input w3-border w3-margin-bottom" type="time" required name="minimo">
            </div>
           <div class="w3-half">
              <label><b>Tiempo máximo</b></label>
              <input class="w3-input w3-border w3-margin-bottom" type="time" required name="maximo">
            </div>
              </div>
          <label><b>Rúbrica</b></label>
          <select class="w3-select w3-margin-bottom" name="rubrica">
            {% for rubrica in lista_rubricas %}{% if rubrica.validar %}
            <option value="{{ rubrica.id }}">{{ rubrica.nombre }}</option>
            {% endif %}{% endfor %}
          </select>
          <label><b>Curso</b></label>
          <select class="w3-select" name="curso">
            {% for curso in lista_cursos %}
            <option value="{{ curso.id }}">{{ curso }}</option>
            {% endfor %}
          </select>
          <input class="w3-button w3-block w3-blue w3-section w3-padding" type="submit" value="Agregar">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal de eliminar -->
<div id="eliminar" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center"><br>
      <span onclick="document.getElementById('eliminar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      <p>¿Está seguro de querer eliminar esta evaluacion?</p>
      <form action="{% url 'sistema:evaluacion_eli' %}" method="post">
        {% csrf_token %}
        <input id="valor_eliminar" type="hidden" name="id" value="">
        <button class="w3-button w3-blue w3-margin-bottom" type="submit">Eliminar</button>
      </form>
    </div>
  </div>
</div>

<!-- modal de modificar -->
<div id="modificar" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center"><br>
      <span onclick="document.getElementById('modificar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      <form class="w3-container" action="{% url 'sistema:evaluacion_mod' %}" method="post">
        {% csrf_token %}
        <div class="w3-section">
          <input id="mod_id" type="hidden" name="id" value="">
		  <label><b>Nombre</b></label>
		  <input id="mod_nombre" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Ingrese nombre" name="nombre" required>
          <div class="w3-row">
            <div class="w3-half">
              <label><b>Fecha de inicio</b></label>
              <input id="mod_inicio" class="w3-input w3-border w3-margin-bottom" type="date" required name="inicio">
            </div>
            <div class="w3-half">
              <label><b>Fecha de término</b></label>
              <input id="mod_termino" class="w3-input w3-border w3-margin-bottom" type="date" required name="fin">
            </div>
          </div>
           <div class="w3-section">
           <div class="w3-half">
              <label><b>Tiempo mínimo </b></label>
              <input id="mod_min" class="w3-input w3-border w3-margin-bottom" type="time" required name="minimo">
            </div>
           <div class="w3-half">
              <label><b>Tiempo máximo</b></label>
              <input id="mod_max" class="w3-input w3-border w3-margin-bottom" type="time" required name="maximo">
            </div>
              </div>
          <label><b>Rúbrica</b></label>
          <select id="mod_rubrica" class="w3-select w3-margin-bottom" name="rubrica">
            {% for rubrica in lista_rubricas %}{% if rubrica.validar %}
            <option value="{{ rubrica.id }}">{{ rubrica.nombre }}</option>
            {% endif %}{% endfor %}
          </select>
          <label><b>Curso</b></label>
          <select id="mod_curso" class="w3-select" name="curso">
            {% for curso in lista_cursos %}
            <option value="{{ curso.id }}">{{ curso }}</option>
            {% endfor %}
          </select>
          <input class="w3-button w3-block w3-blue w3-section w3-padding" type="submit" value="Guardar">
        </div>
      </form>
    </div>
  </div>
</div>


<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

  // Abre el modal de eliminar y ajusta el form con el valor correcto
  function eliminar(id) {
		document.getElementById('valor_eliminar').value = id;
		document.getElementById('eliminar').style.display='block';
	}
  function modificar(id, nombre, fecha_i,fecha_t,tiempo_max,tiempo_min,rubrica,curso) {
		document.getElementById('mod_nombre').value = nombre;
		document.getElementById('mod_inicio').value = fecha_i;
		document.getElementById('mod_termino').value = fecha_t;
		document.getElementById('mod_max').value = tiempo_max;
		document.getElementById('mod_min').value = tiempo_min;
		document.getElementById('mod_rubrica').value = rubrica;
		document.getElementById('mod_curso').value = curso;
		document.getElementById('mod_id').value = id;
		document.getElementById('modificar').style.display='block';
  }
</script>

{% endblock %}