{% extends "sistema/base.html" %}

{% block subtitle %}Evaluación{% endblock %}

{% block content %}
TODO: Recibir info de rúbrica

  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación <i class="w3-text-green">en curso</i> </b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">	
    <p><b>Lambda-Ideas</b> Presentación Tarea 2 <i>CC4401-1/Otoño/2019</i></p>
	
	{% block eval_admin %}{% endblock %}
	
    <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p> </div>
    
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-red w3-xlarge w3-padding-32">Contenidos <i class="far fa-check-circle"></i></li>
        <li class="opcion w3-padding-16"> No incluye las interfaces
            solicitadas
          </li>
        <li class="opcion w3-padding-16 selected"> Faltan la mayoria de las
            interfaces
           </li>
        <li class="opcion w3-padding-16"> Solo faltan 1 o 2 interfaces </li>
        <li class="opcion w3-padding-16"> Incluye todas las interfaces
            solicitadas
           </li>
      </ul>
    </div>
      
          
      <div class="w3-panel w3-margin-bottom">
        <ul class="w3-ul w3-light-grey w3-center w3-card-4">
          <li class="w3-orange w3-xlarge w3-padding-32">Calidad del material
              <i class="fas fa-exclamation-circle"></i><i class="w3-medium"> falta seleccionar</i></li> 
          <li class="opcion w3-padding-16">Presentación con muchos
              errores ortográficos, todas
              las imágenes son de baja
              resolución
              </li>
          <li class="opcion w3-padding-16">Algunos errores
              ortográficos, casi todas las
              imágenes son de baja
              resolución
              </li>
          <li class="opcion w3-padding-16">Pocos errores ortográficos,solo algunas imágenes sonde baja resolución
            </li>
          <li class="opcion w3-padding-16">Pocos errores ortográficos,
              todas las imágenes son de
              buena resolución
              </li>
        </ul>
      </div>

      <div class="w3-panel w3-margin-bottom">
        <ul class="w3-ul w3-light-grey w3-center w3-card-4">
          <li class="w3-red w3-xlarge w3-padding-32">Relación con requisitos
              funcionales <i class="far fa-check-circle"></i>
              
            </li>
          <li class="opcion w3-padding-16">Solo describe las
              interfaces, sin mencionar
              requisito alguno
              
              </li>
          <li class="opcion w3-padding-16">Solo para algunas de las
              interfaces explica cómo
              satisfacen los requisitos
              funcionales
              
              </li>
          <li class="opcion w3-padding-16 selected">Para casi todas las
              interfaces, explica cómo
              satisfacen los requisitos
              funcionales
              </li>
          <li class="opcion w3-padding-16">Explica claramente como
              cada interfaz satisface los
              requisitos funcionales
              
              </li>
        </ul>
      </div>

      <div class="w3-panel w3-margin-bottom">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-red w3-xlarge w3-padding-32">Organización de la
                información <i class="far fa-check-circle"></i>
                
              </li>
            <li class="opcion w3-padding-16">No se entiende la
                presentación porque no haysecuencia lógica de
                información               
                </li>
            <li class="opcion w3-padding-16">Es difícil seguir la
                presentación, porque el
                presentador “salta” entre
                diapositivas
                
                </li>
            <li class="opcion w3-padding-16">La información está
                presentada en una
                secuencia lógica
                
                </li>
            <li class="opcion w3-padding-16 selected">La información es
                presentada en una forma
                lógica e interesante                
                
                </li>
          </ul>
        </div>

        <div class="w3-panel w3-margin-bottom">
            <ul class="w3-ul w3-light-grey w3-center w3-card-4">
              <li class="w3-red w3-xlarge w3-padding-32">Forma <i class="far fa-check-circle"></i>
                  
                </li>
              <li class="opcion w3-padding-16">No se entiende lo que dice(en términos fonéticos y
                  cinéticos)
                     
                  </li>
              <li class="opcion w3-padding-16">Se entiende lo que dice la
                  de manera parcial (su
                  cuerpo no acompaña sus
                  palabras)
                  
                  </li>
              <li class="opcion w3-padding-16 selected">Se da a entender,
                  presentando de manera
                  eficiente y adecuado
                  lenguaje corporal
                  
                  </li>
              <li class="opcion w3-padding-16">Se da a entender siempre,
                  destacando en su forma
                  (pausas, dicción, contacto
                  visual, gesticulación, otros)
                  
                  </li>
            </ul>
          </div>

          <div class="w3-panel w3-margin-bottom">
              <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                <li class="w3-red w3-xlarge w3-padding-32">Entusiasmo <i class="far fa-check-circle"></i>
                    
                  </li>
                <li class="opcion w3-padding-16">No muestra interés en su
                    entrega
                    
                    </li>
                <li class="opcion w3-padding-16">Se muestra algo negativo
                    acerca de su entrega
                    
                    </li>
                <li class="opcion w3-padding-16 selected">Ocasionalmente habla en
                    forma positiva
                  
                    </li>
                <li class="opcion w3-padding-16">Habla en forma positiva
                    durante casi toda la
                    presentación                    
                    </li>
              </ul>
            </div>


            <div class="w3-panel w3-right w3-half">
                <button class="w3-button w3-xlarge w3-red" style="margin-left: 15%" onclick="location.href='postevaluacion.html'"> <i class="fas fa-envelope-open-text"></i> Entregar evaluación</button>
            </div>

            
  </div>
  
TODO: script para seleccionar celdas

{% endblock %}
