{% extends "sistema/base.html" %}

{% block subtitle %}Evaluación{% endblock %}
{% block user %} {{request.session.nombre}}{% endblock %}

{% block content %}

  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Evaluación <i class="w3-text-green">en curso</i> </b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">
        <p><b>{{grupo.nombre}} </b> {{ evaluacion.nombre }} <i>{{ evaluacion.instancia }}</i></p>

	{% block eval_admin %}{% endblock %}
	
    <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p>
    </div>
{% for fila in rubrica.tabla %}
    {% if not forloop.first %}
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
           {% for celda in fila %}
          {% if forloop.first %}
        <li class="w3-dark-grey w3-xlarge w3-padding-32">{{ celda }}     <!--<i class="far fa-check-circle"></i>--></li>
         {% else %}
          <li class="opcion w3-padding-16" onclick="selector(this);"> {{ celda }}
          </li>
          {% endif %}
              {% endfor %}

        </ul>
    </div>
  {% endif %}
      {% endfor %}
        <div class="w3-container w3-center">
      	{% block eval_admin_tiempo %}{% endblock %}
        </div>
            <div class="w3-panel w3-right w3-half">
                <button class="w3-button w3-xlarge w3-blue" style="margin-left: 15%" onclick="location.href='{% url 'sistema:postevaluacion' eval_id=evaluacion.id grupo_id=grupo.id rubrica_id=evaluacion.evaluacionrubrica_set.all.0.rubrica.id %}'"> <i class="fas fa-envelope-open-text"></i> Entregar evaluación</button>
            </div>

            
  </div>
<script>
     function selector(element) {
        var row = element.parentNode;
        for (var i = 0; i < row.children.length; i++) {
            if (!row.children.item(i).classList.contains("row-name")) {
                row.children.item(i).classList.remove("selected");
            }
        }
        element.classList.add("selected");
     }

</script>


{% endblock %}
