{% extends "sistema/evaluacion/evaluacion.html" %}
{% block user %} {{request.session.nombre}}{% endblock %}
{% block eval_admin %}

      <div class="w3-row-padding" style="margin-top:30px">
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i class="fas fa-user-friends"></i></li>
            {% for alumno in grupo.alumno_set.all %}
            <li class="presentado w3-padding-16">{{alumno.nombre}} <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
	        {% endfor %}

          </ul>
        </div>
            
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32" >Miembros que presentan <i class="fas fa-chalkboard-teacher"></i></li>
                    <div name="presentan">
                    </div>
               <button class="w3-button w3-margin-bottom" onclick="agregar('agregar_presentador')"> Agregar otro <i style="margin-left: 10px"  class="fas fa-user-plus"></i></button>

          </ul>
        </div>
      </div>


    <!--Modalidad agregar presentador de evaluacion-->
	<div id="agregar_presentador" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center"><br>
      <span onclick="document.getElementById('agregar_presentador').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      {% csrf_token %}
        <div class="w3-section">
          <label><b>Presentador</b></label>
          <select class="w3-select" id="presentador">

          </select>
          <button class="w3-button w3-blue w3-margin-bottom" type="submit" onclick="agregar_presentador()">Agregar</button>
        </div>
    </div>
  </div>
</div>


<!--Modalidad eliminar evaluador de evaluacion-->
	 <div id="eliminar_presentador" class="w3-modal">
	<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
		<div class="w3-center"><br>
			<span onclick="document.getElementById('eliminar_presentador').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
			<p>¿Está seguro de querer eliminar a este presentador de la evaluación?</p>
				{% csrf_token %}
				<input id="valor_eliminar" type="hidden" name="id" value="">
				<button class="w3-button w3-blue w3-margin-bottom" type="submit" onclick="eliminar_presentador()">Eliminar</button>
		</div>
	</div>
</div>
{% endblock %}
{%  block eval_admin_tiempo%}
            <div>
              <label><b>Tiempo de presentación </b></label>
              <input class="w3-input w3-border w3-margin-bottom w3-center l1 - l12" style="" type="time" id="tiempo_presentac" required  name="tiempo_presentacion">
              <label style="display:none;" id="des_label" ><b>Descuento </b></label>
              <input class="w3-input w3-border w3-margin-bottom " style="display:none;" id="descuento" name="descuento_tiempo">
              <input class="w3-input w3-border w3-margin-bottom " type="hidden" id="form_presentadores" name="presentadores_grupo" value="">
            </div>


	 <script>
	 function agregar(id) {
		document.getElementById('agregar_presentador').style.display='block';
		listado_alumnos=[];
		//Saco listado de alumnos
		{%for alumno in grupo.alumno_set.all%}
            listado_alumnos.push('{{ alumno.nombre }}')
		{%endfor%}
		//Saco listado de los presentadores
		var presentadores_agregados=document.getElementsByName('PRESENTADORES');
		var presentadores=[];
		for(var i=0; i<presentadores_agregados.length;i++){
		    presentadores.push(presentadores_agregados[i].id);
		}
		//Hago listado para ver quienes puedo agregar
		listado_para_agregar=[];
		for(var j=0; j<listado_alumnos.length;j++){
		    //Si no esta en la lista de presentadores lo agrego
            if(!presentadores.includes(listado_alumnos[j])){
                listado_para_agregar.push(listado_alumnos[j]);
            }
		}
		var selected_presentador=document.getElementById('presentador');
		//Agrego nuevas opciones de presentadores
		//Pongo innerHTML en vacio
		selected_presentador.innerHTML="";
        for(var k=0;k<listado_para_agregar.length;k++){
            selected_presentador.innerHTML+='<option value="'+listado_para_agregar[k]+'">'+listado_para_agregar[k]+'</option>';
        }
	}
	function eliminar_presentador(id) {
	    //Saco valor de eliminar que es el nombre del presentador
		var val= document.getElementById('valor_eliminar').value;
		//Escondo el cuadro de texto
		document.getElementById('eliminar_presentador').style.display='none';
		//Obtengo elemento
		var element = document.getElementById(val);
		//Elimino el elemento del padre
        element.parentNode.removeChild(element);
        obtener_presentadores();
	}
	function agregar_presentador(){
	    //Quito cuadro de texto
	     document.getElementById('agregar_presentador').style.display='none';
	     //Obtengo el presentador
	     presentador=document.getElementById("presentador");
         //Si no es vacio el nombre
	     if(presentador.value!=''){
	     //Obtengo lista de los que presentan
	     listado_presentan=document.getElementsByName('presentan')[0];
	     //Añado hijo a listado que presentan
	     var div = document.createElement("div");
	     var presentador_name=presentador.value;
         div.innerHTML = '<li class="w3-padding-16" name="PRESENTADORES" id="'+ presentador.value+'">'+presentador.value +'<i style="margin-left: 10px" class="w3-large fas fa-times" onclick="mostrar_eliminar_presentador(\''+ presentador_name + '\')"></i></li>';
         listado_presentan.appendChild(div);
         obtener_presentadores();
         }
	}
	function mostrar_eliminar_presentador(id){
	    //Muestro cuadro de texto
	     document.getElementById('eliminar_presentador').style.display='block';
	     //Guardo el nombre del presentador en valor_eliminar
	     document.getElementById('valor_eliminar').value =id;
	}
	function obtener_presentadores(){
	    //Obtengo listado de los que presentan
	    listado_presentan=document.getElementsByName('PRESENTADORES');
	    var presentadores=[];
		for(var i=0; i<listado_presentan.length;i++){
		    presentadores.push(listado_presentan[i].id);
		}
		//Lo envio por el form
		form_prese=document.getElementById('form_presentadores');
		form_prese.value=presentadores;
	}


    window.addEventListener("load", function () {
            document.getElementById("tiempo_presentac").addEventListener("change", function () {
              	var tiempo_pre=document.getElementsByName('tiempo_presentacion')[0].value;
	            var tiempo_min='{{rubrica.tiempo_min| time:'H:i' }}';
	            var tiempo_max='{{rubrica.tiempo_max|time:'H:i' }}';
	            if(tiempo_max<tiempo_pre || tiempo_min>tiempo_pre){ // Si el tiempo no esta entre
	                document.getElementById('descuento').style.display='block';
	                document.getElementById('des_label').style.display='block';
	            }
                else{
                    document.getElementById('descuento').style.display='none';
                    document.getElementById('des_label').style.display='none';
                }
            });
        });
	 </script>

{%endblock%}




