{% extends "sistema/base.html" %}

{% block subtitle %}Evaluación{% endblock %}
{% block user %} {{request.session.nombre}}{% endblock %}

{% block content %}

  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Evaluación <i class="w3-text-green">en curso</i> </b></h1>
    <hr style="width:50px;border:5px solid #2FA0FB" class="w3-round">
    <div class="w3-container w3-center">
        <p><b>{{grupo.nombre}} </b> {{ evaluacion.nombre }} <i>{{ evaluacion.instancia }}</i></p>

	{% block eval_admin %}{% endblock %}
	
    <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p>
    </div>
{% for fila in rubrica.tabla %}
    {% if not forloop.first %}
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4" name="aspectos">
           {% for celda in fila %}
          {% if forloop.first %}
        <li class="w3-dark-grey w3-xlarge w3-padding-32">{{ celda }}
            <!--<i class="far fa-check-circle"></i>--></li>
         {% else %}
          <li class="opcion w3-padding-16" onclick="selector(this);" name="cumplimientos-{{forloop.counter}}"> {{ celda }}

          </li>

          {% endif %}


              {% endfor %}

        </ul>
    </div>

  {% endif %}
      {% endfor %}
        <div class="w3-container w3-center">
      	{% block eval_admin_tiempo %}{% endblock %}
        </div>
            <div class="w3-panel w3-right w3-half">
                <form method="post" action="{% url 'sistema:postevaluacion' eval_id=evaluacion.id grupo_id=grupo.id rubrica_id=evaluacion.evaluacionrubrica_set.all.0.rubrica.id %}" onsubmit="return obtener()">
                        {% csrf_token %}
                <input id="puntaje" type="text" name="lista-puntajes" style="display:none"  value="1">
                <input id="puntajes-base" type="text" name="lista-pj-base" style="display:none" value="{{rubrica.tabla.0}}" >
                <input class="w3-button w3-xlarge w3-blue" style="margin-left: 15%" type="submit"> <i class="fas fa-envelope-open-text"></i> Entregar evaluación</input>
                </form>
            </div>

            
  </div>
<script>
  function selector(element) {
        var row = element.parentNode;
        for (var i = 0; i < row.children.length; i++) {
            if (!row.children.item(i).classList.contains("row-name")) {
                row.children.item(i).classList.remove("selected");
            }
        }
        element.classList.add("selected");
  }

  function obtener(){
            var largoaspectos=document.getElementsByName("aspectos").length;
            var puntajes=document.getElementsByClassName("selected");
            //Confirmacion de puntajes
            if(puntajes.length!= largoaspectos ){
                alert("Se debe seleccionar puntaje para cada aspecto");
                return false;
            }
            else{
                //Lista con los puntajes seleccionados
                var list=[];
                for(var i=0; i<largoaspectos;i++){
                    var listado=puntajes[i].innerText.split(" ");
                    list.push(listado[listado.length-1]);
                }
                var punt=document.getElementById("puntaje");
                punt.value=list;
                return true;
            }
  }
  var i=0;
  listado_puntajes='{{puntajes}}';
  var patron= /&#39;/g;
  listado_puntajes=listado_puntajes.replace(patron,'').replace('[','').replace(']','').split(',');
  for(var i = 0; i < listado_puntajes.length; i++){
        //Saco los cumplimientos para el puntaje que le asignare
        var name='cumplimientos-'+((i+2));
        var aspec=document.getElementsByName(name);
        for(var j=0;j<aspec.length;j++){
        //Coloco los puntajes
            aspec[j].innerHTML=aspec[j].innerHTML+ '<p  style="font-weight:bold"> Puntaje: '+listado_puntajes[i]+'</p>';
        }
  }
</script>

{% endblock %}
