{% extends "sistema/base.html" %}

{% block subtitle %}Evaluación{% endblock %}
{% block user %} {{request.session.nombre}}{% endblock %}
{% block content %}

  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-black"><b>Evaluación <i class="w3-text-blue">entregada</i> </b></h1>
    <i class="w3-large w3-text-green"><i class="far fa-clock">

        {% if evaluacion.abierta %}</i> Aún activa </i>{% else %}</i> Cerrada </i>{% endif %}</b></h1>
    <hr style="width:50px;border:5px solid #2FA0FB" class="w3-round">
    <div class="w3-container w3-center">
  <p><b>{{grupo.nombre}} </b> {{ evaluacion.nombre }} <i>{{ evaluacion.instancia }}</i></p>
    <p><i class="w3-text-blue">Su operación se ha procesado exitosamente!</i></p> </div>
    
    <div class="w3-container">
            <h4><b>Resumen de evaluación</b></h4>
        {% for fila in rubrica.tabla %}
        {% if not forloop.first %}
        {% for celda in fila %}
        {% if forloop.first %}
            <p>{{celda}} </p>


            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-white" name="aspecto" ></div>
            </div>
         {% endif %}
         {% endfor %}
           {% endif %}
        {% endfor %}

{% block post_admin %}

            <div class="w3-panel w3-right w3-half" style="margin-top: 50px">
                   <button onclick="location.href='{% url 'sistema:evaluacion_grupo' eval_id=evaluacion.id grupo_id=grupo.id rubrica_id=evaluacion.evaluacionrubrica_set.all.0.rubrica.id %}'"class="w3-button w3-xlarge w3-blue w3-margin-bottom" style="margin-left: 15%"> <i class="fas fa-pen"></i>  Editar evaluación</button>
                    <a href="{% url 'sistema:evaluacion' eval_id=evaluacion.id %}"><button class="w3-button w3-xlarge w3-blue" style="margin-left: 15%"> <i class="fas fa-door-open"></i> Volver a grupos</button></a>

                </div>
{% endblock %}
   
  </div>
 
</div>

<script>

 puntaje_base='{{puntaje_base}}';
 var patron= /&#39;/g;
 puntaje_base=puntaje_base.replace(patron,'').replace('[','').replace(']','').split(',');
 listado_puntajes='{{puntajes}}';
 listado_puntajes=listado_puntajes.replace(patron,'').replace('[','').replace(']','').split(',');
 for(var i = 0; i < listado_puntajes.length; i++){
   var aspec=document.getElementsByName('aspecto')[i];
   var porcentaje=100/(puntaje_base.length-2);
   var porcentaje_final=0;
   //Saca porcentaje
   for (var j=1;j<puntaje_base.length;j++){
        if (parseFloat(listado_puntajes[i])==0){
            break;
        }
        if (parseFloat(listado_puntajes[i])==parseFloat(puntaje_base[j])){
            break;
        }

       porcentaje_final+=porcentaje;
   }
   if(porcentaje_final==0){
      porcentaje_final_barra=5;
   }
   else{
      porcentaje_final_barra=porcentaje_final;
    }
   aspec.innerHTML='<div class="w3-container w3-center w3-padding w3-gray" name="aspecto-i" style="width:'+Math.round(porcentaje_final_barra)+'% "'+'>'+Math.round(porcentaje_final)+'% '+'</div>';
 }

</script>

{% endblock %}
#TODO: FALTA GUARDAR EN BASE DE DATOS
